.container {
  border:10px solid #264653;
  width:100vw;
  height:100vh;
  box-sizing: border-box;
  color:#264653;
  font-family:'Righteous' ;
  font-size: 20px;
  position:relative;
  min-height:415px;
}

.gameboard {
  box-sizing: border-box;
  max-height:70%;
}

.launch-message, .end-message {
  position:absolute;
  top:20vh;
  right:0;
  left:0;
  text-align: center;

}

.end-message {
  opacity:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  animation:opacity;
  animation-delay: 3s;
  animation-fill-mode:forwards;
}

@keyframes opacity {
  
  100% {opacity:1}
}

.player-message {
  position:absolute;
  top:20px;
  left:20px;
  font-size: 30px;
}

.score-provi-message {
  position:absolute;
  top:60px;
  left:20px;
  font-size: 30px;
}

.score-total-container {
  position:absolute;
  bottom:0vh;
  margin-top:20vh;
  display:flex;
  width:100%;
  justify-content: space-around;
  flex-wrap: wrap;
 background-color: #264653;
}
.score-total-container div{
  width:100%;
  text-align: center;
  height:10vh;
  line-height: 10vh;
  font-size: 60px;
  color:#e9c46a;
}

.keep-button, .roll-button, .end-button {
  background-color: #264653;
  color:#e9c46a;
  height:60px;
  width:150px;
  font-family:'Righteous' ;
  text-transform:uppercase;
  border-radius: 5%;
  position:absolute;
}

.end-button{
  position: relative !important;
  margin-top:50px;
}

.keep-button{
  top:60%;
  right:60vw;
}

.roll-button{
  top:60%;
  left:60vw
}

.pick-message {
  position:absolute;
  width:300px;
  text-align: center;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0;
  animation:opacity;
  animation-delay: 4s;
  animation-fill-mode:forwards;
}

@media screen and (max-width:600px), screen and (max-height:600px) {

  .score-total-container div, .launch-message{
    font-size:30px;
    min-height:35px;
  }

  .player-message, .score-provi-message {
    font-size:10px;
  }

  .keep-button, .roll-button, .end-button {
  height:30px;
  width:100px;
  font-size:10px;
  }
  .score-provi-message {
    top:30px;
  }
}