.container {
  border:10px solid #264653;
  width:100vw;
  height:100vh;
  box-sizing: border-box;
  color:#264653;
  font-family:'Righteous' ;
  font-size: 20px;
  position:relative;
  min-height:415px;
  opacity:0;
  animation:opacity 00ms forwards 1450ms;
  z-index:2;
  overflow: hidden;
}

.gameboard {
  box-sizing: border-box;
  max-height:70%;
}

.launch-message, .end-message {
  position:absolute;
  top:20vh;
  right:0;
  left:0;
  text-align: center;
}


.end-message {
  opacity:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  animation:opacity;
  animation-delay: 1s;
  animation-fill-mode:forwards;
}

@keyframes opacity {
  100% {opacity:1}
}

.player-message {
  position:absolute;
  top:20px;
  left:20px;
  font-size: 30px;
  transform:translateY(-150px);
  animation:score 800ms forwards 1500ms
}

.score-provi-message {
  position:absolute;
  top:60px;
  left:20px;
  font-size: 30px;
  transform:translateY(-150px);
  animation:score 800ms forwards 1500ms
}

.score-total-container {
  position:absolute;
  bottom:0vh;
  margin-top:20vh;
  display:flex;
  width:100%;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #264653;
}

@keyframes score {
  100% {transform:translateY(0)}
}

.score-total-container div{
  width:100%;
  text-align: center;
  height:10vh;
  line-height: 10vh;
  font-size: 60px;
  color:#e9c46a;
  opacity:0;
  animation:opacity 400ms forwards 1800ms;
}

.keep-button, .roll-button, .end-button {
  background-color: #264653;
  color:#e9c46a;
  height:60px;
  width:150px;
  font-family:'Righteous' ;
  text-transform:uppercase;
  border-radius: 5%;
  position:absolute;
}

.end-button{
  position: relative !important;
  margin-top:50px;
}

.keep-button{
  top:60%;
  right:60vw;
}

.roll-button{
  top:60%;
  left:60vw;
}

.pick-message {
  position:absolute;
  width:300px;
  text-align: center;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0;
  animation:opacity;
  animation-delay: 4s;
  animation-fill-mode:forwards;
}

.win {
  position:absolute;
  z-index:999;
  background-color: rgba(	38,70,83,0.9);
  color:#e9c46a;
  font-size: 60px;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform:scaleX(0);
  animation:win 400ms forwards
}

.win div {
  width:100%;
  height:10vh;
  opacity:1;
  text-align: center;
  background-color: black;
  line-height: 10vh;
  transform:scale(0,0.2);
  transform-origin: right;
  animation: winp 300ms forwards 200ms
  
}
.win div p {
  opacity:0;
  animation:opacity 100ms forwards 500ms;
}

@keyframes win{
  100%{transform:scaleX(1)}
}

@keyframes winp{
  80%{transform:scale(1,0.2)}
  100%{transform:scale(1,1)}
}

.effect-new-game {
  background-color: #264653;
  color:#e9c46a;
  text-transform: uppercase;
  font-size:72px;
  height:10vh;
  max-height:10vh;
  line-height: 10vh;
  font-family:'Righteous' ;
  position:absolute;
  text-align: center;
  width:100%;
  bottom:50vh;
  animation:opacity0 00ms forwards 600ms;
  z-index:1;
  box-sizing: border-box;
}

.effect-new-game p {
  position:absolute;
  z-index:1;
  background-color:#264653 ;
  width:98%;
  right:1%;
  min-height:10vh;
  line-height: 10vh;
}

.effect-background {
  transform:scaleY(1);
  animation: anim-background 600ms forwards ;
  opacity:1;
  position:absolute;
  width:100%;
  min-height:10vh;
  background-color: #264653;
  box-sizing: border-box;
}

.div-blue {
  position:absolute;
  background-color:#e9c46a ;
  width:100%;
  min-height:20vh;
  bottom:0;
  transform:translateY(50vh)
}

.effect-reversed {
  border:10px solid #264653;
  color: #264653;
  background-color:#e9c46a;
  text-transform: uppercase;
  font-size:72px;
  height:100vh;
  min-height:100vh;
  line-height: 10vh;
  font-family:'Righteous' ;
  position:absolute;
  text-align: center;
  width:100%;
  opacity:0;
  animation:opacitychange 900ms forwards 600ms; 
  z-index:0;
  box-sizing: border-box;
}

.effect-reversed p{
  position:absolute;
  z-index:1;
  background-color:#e9c46a ;
  width:98%;
  right:1%;
  bottom:50vh;
  min-height:10vh;
  line-height: 10vh;
  animation:opacity0 00ms forwards 1300ms; 

}
.div-yellow {
  position:absolute;
  background-color:#264653 ;
  width:100%;
  min-height:20vh;
  bottom:0;
}

@keyframes opacitychange {
  0%{opacity:1}
  99%{opacity:1}
  100% {opacity:0}
}

@keyframes opacity0 {
  
  100% {opacity:0}
}

@keyframes anim-background {
  
  100% {transform:scaleY(10)}
}

.translateX {
  transform:translate(10vw);
  animation:translateX 1000ms forwards 1500ms;
}

@keyframes translateX {
  25%{transform:rotate(-45deg)}
  50%{transform:rotate(10deg)}
  100% {transform:rotate(0) translate(0)}

}

@media screen and (max-width:600px), screen and (max-height:600px) {

  .score-total-container div, .launch-message{
    font-size:30px;
    min-height:35px;
  }

  .player-message, .score-provi-message {
    font-size:10px;
  }

  .keep-button, .roll-button, .end-button {
  height:30px;
  width:100px;
  font-size:10px;
  }
  .score-provi-message {
    top:30px;
  }
}