body {
  margin: 0 auto;
  padding:0;
  width:100%;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  min-width:375px;  
}

* {
  margin:0
}

h1 {
  font-size: 60px;
  color:#264653;
}

#root {
  background-color: #e9c46a;
  height:100vh
}

