body {
  margin: 0 auto;
  padding:0;
  width:100%;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  min-width:375px;
}

* {
  margin:0;
}

h1 {
  font-size: 60px;
  color:#264653;
}

#root {
  background-color: #e9c46a;
  min-height:100vh;
}

@media screen and (max-width:500px),screen and (max-height:500px) {
  * {
    font-size:12px;
  }
  h1{
    font-size: 30px;
  }

}