.new-game {
    width:100%;
    min-height:100vh;
    position:relative;
    background-color:#e9c46a;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-game-buttons {
    margin:0 auto;
    width:100%;
    min-height:60vh;
    height:60vh;
    font-size: 36px;
    color:#264653;
    text-align: center;
    position:relative;
    bottom:0vh;
    display:flex;
    flex-direction: column;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position:relative;
    height:10vh;
    cursor:pointer;
}

.marquee-scale {
    position:absolute;
    height:10vh;
    z-index:100;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translate3d(0, -100%, 0);
}

.marquee__inner {
    display:flex;
    height:10vh;
    line-height: 10vh;
    width: fit-content;
    position: relative;
    opacity:0;
}

.marquee:hover .marquee__inner{
    opacity:1 !important;   

}

.marquee__inner span {
    margin-right:300px;
    /* width:385px; */
    font-family:'Righteous' ;
    text-transform: uppercase;
    transform:scale(2);
    height:100%;
}

.nouvelle-partie:hover {
    animation:marquee 1.8s linear infinite 400ms ;
}

.regle-du-jeu:hover {
    animation:marqueeRegle 1.5s linear infinite 400ms 
}

.nouvelle-partie span {
    margin-right:355px; 
}

.marquee p {
    transition:all 100ms ease-in-out;
    line-height: 10vh;
    font-family:'Righteous' ;
  }


/*////Animation */

.marquee .marquee-scale {
    background-color:#264653;
    color:#e9c46a;
    border:2px solid #e9c46a;  
}

.marquee:hover p {
    transform:scale(2);
    font-family:'Righteous' ;
    text-transform: uppercase;
 }

.transform-top{
    animation-name: enter-top
}

.transform-bottom{
    animation-name: enter-bottom
}

.leave-top{
    animation-name: leave-top;
}

.leave-bottom{
    animation-name: leave-bottom;
}

@keyframes enter-top {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

@keyframes enter-bottom {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: none; }
  }

  @keyframes leave-top {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, -100%, 0); }
  }

  @keyframes leave-bottom {
    0% { transform: none; }
    100% { transform: translate3d(0, 100%, 0); }
  }

.title{
    position:absolute;
    right:0;
    left:0;
    top:10%
}
@media screen and (max-width:500px) ,screen and (max-height:500px) {
    
    .title{
        margin:0;
        top:30px;
    }

    
}




